In [3]:
import pandas as pd

df = pd.read_json('Producao.json')

print(df.count())

Id         2538
Control    2538
Produto    2538
Tipo       2538
Ano        2538
Valor      2538
dtype: int64

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2538 entries, 0 to 2537
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       2538 non-null   int64
 1   Control  2538 non-null   object
 2   Produto  2538 non-null   object
 3   Tipo     2538 non-null   object
 4   Ano      2538 non-null   int64
 5   Valor    2538 non-null   int64
dtypes: int64(3), object(3)
memory usage: 119.1+ KB
None

In [5]:
print(df.head())

   Id    Control Produto                           Tipo   Ano      Valor
0   2   vm_Tinto   Tinto                  VINHO DE MESA  1970  174224052
1   3  vm_Branco  Branco                  VINHO DE MESA  1970     748400
2   4  vm_Rosado  Rosado                  VINHO DE MESA  1970   42236152
3   6   vv_Tinto   Tinto  VINHO FINO DE MESA (VINIFERA)  1970    7591557
4   7  vv_Branco  Branco  VINHO FINO DE MESA (VINIFERA)  1970   15562889

In [6]:
print(df.columns)

Index(['Id', 'Control', 'Produto', 'Tipo', 'Ano', 'Valor'], dtype='object')

In [9]:

# Contagem de valores únicos na coluna 
print(df['Tipo'].value_counts())

Tipo
DERIVADOS                        1944
SUCO                              270
VINHO DE MESA                     162
VINHO FINO DE MESA (VINIFERA)     162
Name: count, dtype: int64

In [12]:
print(df['Valor'].value_counts().sort_values())  # Ordena por ano

Valor
680             1
1628000         1
661270          1
1812367         1
118180926       1
             ...
15000           5
3000            5
2000            5
1000            6
0            1642
Name: count, Length: 859, dtype: int64

In [13]:
# Estatísticas descritivas de colunas numéricas
print(df.describe())

                Id          Ano         Valor
count  2538.000000  2538.000000  2.538000e+03
mean     27.574468  1996.500000  6.597366e+06
std      14.188111    15.588856  2.493863e+07
min       2.000000  1970.000000  0.000000e+00
25%      16.000000  1983.000000  0.000000e+00
50%      28.000000  1996.500000  0.000000e+00
75%      40.000000  2010.000000  2.413625e+05
max      51.000000  2023.000000  2.541724e+08

In [14]:
# Estatísticas descritivas de colunas categóricas
print(df.describe(include='object'))

         Control Produto       Tipo
count       2538    2538       2538
unique        47      44          4
top     vm_Tinto   Tinto  DERIVADOS
freq          54     108       1944

In [18]:
#['Id', 'Control', 'Produto', 'Tipo', 'Ano', 'Valor']
# Contar registros por 'Ano' e 'Tipo'
contagem = df.groupby(['Ano', 'Tipo']).size().reset_index(name='Contagem')
print(contagem)

      Ano                           Tipo  Contagem
0    1970                      DERIVADOS        36
1    1970                           SUCO         5
2    1970                  VINHO DE MESA         3
3    1970  VINHO FINO DE MESA (VINIFERA)         3
4    1971                      DERIVADOS        36
..    ...                            ...       ...
211  2022  VINHO FINO DE MESA (VINIFERA)         3
212  2023                      DERIVADOS        36
213  2023                           SUCO         5
214  2023                  VINHO DE MESA         3
215  2023  VINHO FINO DE MESA (VINIFERA)         3

[216 rows x 3 columns]

In [24]:
# Soma por ano
soma_por_ano = df.groupby('Produto')['Valor'].sum().sort_values()
print(soma_por_ano)

Produto
Espumante orgânico                                 3777
Pisco                                              4372
Licor de bagaceira                                 7307
Destilado alcoólico simples de bagaceira           7800
Brandy                                            25286
Vinho acidificado                                 67500
Vinho Composto                                   163000
Filtrado                                         167000
Néctar de uva                                    182822
Mosto parcialmente fermentado                    543510
Suco de uva reconstituído                        643556
Vinagre                                          762582
Espumante                                        769160
Borra seca                                       871877
Vinho leve                                       891800
Outros derivados                                 899851
Jeropiga                                         976540
Vinho licoroso                                  1010762
Bebida de uva                                   1107163
Mosto dessulfitado                              1538000
Destilado                                       2342496
Suco de uva orgânico                            2394539
Licorosos                                       2532326
Compostos                                       3117800
Frisante                                        3649759
Suco de uva adoçado                             5008118
Mosto de uva com bagaço                         6160330
Base espumante                                  6348269
Mistelas                                        6638710
Mosto concentrado                               7199297
Base Champenoise champanha                      7431405
Espumante moscatel                              7625544
Bagaceira                                       8672865
Base Charmat champanha                         20130540
Polpa de uva                                   33178490
Vinho orgânico                                 40224375
Base espumante moscatel                        41454618
Borra líquida                                  93926300
Suco de uva concentrado                       686207732
Suco de uva integral                          708432016
Rosado                                       1034988365
Mosto simples                                2224379987
Branco                                       2904682165
Tinto                                        8876745662
Name: Valor, dtype: int64